.main-table{
  border: 1px solid black;
  border-collapse: collapse ;

}

.main-table td{
  border: 1px solid black;
  border-collapse: collapse ;
  padding: 10px;
} 

.main-table th{
  border: 1px solid black;
  border-collapse: collapse ;
  padding: 10px;
} 

.individual_rows:hover {
  text-decoration: underline;
  cursor: pointer;
}